MIT_RECREATION_PASSWORDS: 'your-password,another-password'
MIT_RECREATION_USERNAMES: 'your-username,another-username'
SLACK_TEAM_ID: 'your-slack-team-id'
SLACK_VERIFICATION_TOKEN: 'your-slack-verification-token'
